<!-- karosel -->
<div class="pt-4">
    <div class="w-75 mx-auto   shadow">
        <owl-carousel-o [options]="customOptions">
            @for (item of productarr; track $index) {
            <ng-template carouselSlide>
                <img [src]="item.imageCover" class="  img-fluid object-fit-contain">
            </ng-template>
            }
        </owl-carousel-o>
    
    
    </div>
    

 <input [(ngModel)]="userword" placeholder="Search By Title" class="mx-auto w-75 mt-5 form-control " type="search"> 


    @if (errmsg) {

        <h2>{{errmsg}}</h2>
    
    }
    <!-- product -->
    <div class="mt-5 container-fluid p-5 overflow-hidden ">
        <div class="row gx-3 gy-2">
            @for (item of productarr | search: userword; track $index) {
             <!-- <p>{{item._id}}</p>  -->
            <div class="col-md-4 col-lg-3  col-sm-6   ">
                <div class="card mx-auto overflow-hidden all h-100 ">
    
                    <div class="cursor-pointer text-center h-50 overflow-hidden " [routerLink]="['/ProductDetails' ,item._id]" >
                        <img [src]="item.imageCover " class="w-75   card-img-top" alt="prod-img">
    
                    </div>
                    <div class="card-body  d-flex flex-column  h-50 ">
                        <h5 class="card-title text-success">{{ item.category.name}}</h5>
                        <p class="card-text words5">{{item.title}}</p>
                        <p class="card-text text-success d-flex justify-content-between"> <span>{{item.price}}EGB</span>
                            <span> {{item.ratingsAverage}} <i class="fa-solid fa-star" style="color: #FFD43B;"></i> </span>
                        </p>
                        <div class=" btn-hover">
                            <button (click)="addToCartBtn(item._id)" class="btn w-75 mx-auto btn-success  bg-green"> Add To Cart</button>
                        </div>
                    </div>
                </div>
    
    
            </div>
    
    
    
            }
        </div>
    
    </div>

</div>