<div class="container bg-body-secondary vh-100 d-flex align-items-center justify-content-center">
 







    <div class=" w-50 shadow p-3 h-50 bg-svg ">

        @if (errmsg) {

            <p class="text-danger"> {{errmsg}}    </p>
            
            
            }


        <!-- emailform   1 -->
        @if (isemail ) {
        <form [formGroup]="emailform" (ngSubmit)="sendemail_btn()">
            <h1 class=" text-center text-warning-emphasis"> type your email</h1>

            <div class="mb-3">
                <label for="exampleInputEmail31" class="form-label">email</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail31"
                    aria-describedby="emailHelp">
                @if (emailform.get('email')?.errors &&emailform.get('email')?.touched) {

                <div class="alert alert-danger">

                    @if (emailform.get('email')?.errors?.['required']) {<p>pass is required</p>}
                    @else if (emailform.get('email')?.errors?.['email']) {<p>syntax error must be ---[a-z]
                        [0-9]*7</p>}

                </div>

                }
                <button type="submit" [disabled]="emailform.invalid" class="btn btn-success mt-3 d-block ms-auto">Send
                    Email
                
                    @if (isloading) {
                        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                        }
                
                </button>
            </div>
        </form>
        }


        <!-- send code   2 -->

        @if (iscode) {
        <form [formGroup]="codeform" (ngSubmit)=" sendcode_btn()">
            <h1 class=" text-center text-warning-emphasis"> Type The Code</h1>

            <div class="mb-3">
                <label for="exampleInputEmail33" class="form-label">code</label>

                <input formControlName="resetCode" type="text" class="form-control" id="exampleInputEmail33"
                    aria-describedby="emailHelp">

                @if (codeform.get('resetCode')?.errors &&codeform.get('resetCode')?.touched) {

                <div class="alert alert-danger">

                    @if (codeform.get('resetCode')?.errors?.['required']) {<p>code is required</p>}


                </div>

                }
                <button type="submit" [disabled]="codeform.invalid" class="btn btn-success mt-3 d-block ms-auto">Verfy
                    Code
                    @if (isloading) {
                        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                        }
                
                </button>
            </div>
        </form>

        }

        <!-- reset pass and email   3 -->
           @if (isrestpass) {


            <form [formGroup]="resetpassform" (ngSubmit)=" resetpass_btn()">

                <h1 class=" text-center text-warning-emphasis"> Type email and Reset Paasword</h1>
    
                <div class="mb-3">
                    <label for="exampleInputEmail333" class="form-label">email</label>
    
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail333"
                        aria-describedby="emailHelp">
    
                    @if (resetpassform.get('email')?.errors &&resetpassform.get('email')?.touched) {
    
                    <div class="alert alert-danger">
    
                        @if (resetpassform.get('email')?.errors?.['required']) {<p>pass is required</p>}
                        @else if (resetpassform.get('email')?.errors?.['email']) {<p>syntax error must be ---[a-z]
                            [0-9]*7</p>}
    
                    </div>
    
                    }
                    <!-- <button type="submit" [disabled]="resetpassform.invalid" class="btn btn-success mt-3 d-block ms-auto">Verfy
                                Code </button> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail334" class="form-label">newPassword</label>
    
                    <input formControlName="newPassword" type="password" class="form-control" id="exampleInputEmail334"
                        aria-describedby="emailHelp">
    
                    @if (resetpassform.get('newPassword')?.errors &&resetpassform.get('newPassword')?.touched) {
    
                    <div class="alert alert-danger">
    
                        @if (resetpassform.get('newPassword')?.errors?.['required']) {<p>pass is required</p>}
                        @else if (resetpassform.get('newPassword')?.errors?.['pattern']) {<p>syntax error must be ---[a-z]
                            [0-9]*7</p>}
    
                    </div>
    
                    }
                    
                           <button type="submit" [disabled]="resetpassform.invalid" class="btn btn-success mt-3 d-block ms-auto">Verfy Code 

                            @if (isloading) {
                                <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                                }
                           </button>
                </div>
            </form>
    


           }
      









    </div>






</div>